Basicos de Python

In [1]:
#Importar librerias

import sys 
import keyword 
import operator 
from datetime import datetime 
import os

Palabras reservadas

In [2]:
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [3]:
len(keyword.kwlist)

35

Identificadores que no se pueden usar

In [4]:
1var = 10
val2@ = 20
import = 100

SyntaxError: invalid decimal literal (229901108.py, line 1)

Comentarios en python

In [5]:
# Single line comment 

val1 = 10  

# Multiple 

# line 

# comment 

val1 = 10  

'''  

Multiple 

Line 

comment 

 ''' 

val1 = 10

Declaraciones que el interprete puede ejecutar

In [6]:
# Single line statement 

p1 = 10 + 20 

p1

30

In [7]:
# Single line statement 

p2 = ['a' , 'b' , 'c' , 'd'] 

p2

['a', 'b', 'c', 'd']

In [10]:
# Multiple line statement 

p1 = 20 + 30 + 40 + 50 + 70 + 80 

p1

290

In [11]:
# Multiple line statement 

p2 = ['a' , 

      'b' , 

      'c' , 

      'd' 

     ] 

p2

['a', 'b', 'c', 'd']

Identaciones

In [13]:
# correct indentation 

p = 10
if p == 10: 

    print ('P is equal to 10')

P is equal to 10

In [14]:
# if indentation is skipped we will encounter "IndentationError:  

 

p = 10 

if p == 10: 

print ('P is equal to 10')

IndentationError: expected an indented block after 'if' statement on line 7 (306119376.py, line 9)

In [15]:
#Correct 

 

for i in range(0,5): 

    print(i)

0
1
2
3
4

Variables

In [16]:
p = 30

''' 

id() function returns the “identity” of the object. 

The identity of an object - Is an integer 

                          - Guaranteed to be unique 

                          - Constant for this object during its lifetime. 

''' 

id(p)

140706994177736

In [17]:
# Memory address of the variable 

 

hex(id(p))

'0x7ff8e667c6c8'

In [18]:
p = 20  #Creates an integer object with value 20 and assigns the variable p to po 

q = 20  # Create new reference q which will point to value 20. p & q will be poin 

r = q  # variable r will also point to the same location where p & q are pointing 

p , type(p), hex(id(p)) # Variable P is pointing to memory location '0x7fff6d71a3

(20, int, '0x7ff8e667c588')

Tipo de datos

In [19]:
val1 = 10  # Integer data type 

print(val1) 

print(type(val1)) # type of object 

print(sys.getsizeof(val1)) # size of integer object in bytes 

print(val1, " is Integer?", isinstance(val1, int)) # val1 is an instance

10
<class 'int'>
28
10  is Integer? True

In [20]:
val2 = 92.78 # Float data type 

print(val2) 

print(type(val2)) # type of object 

print(sys.getsizeof(val2)) # size of float object in bytes 

print(val2, " is float?", isinstance(val2, float)) # Val2 is an instance of float

92.78
<class 'float'>
24
92.78  is float? True

In [21]:
val3 = 25 + 10j # Complex data type 

print(val3) 

print(type(val3)) # type of object 

print(sys.getsizeof(val3)) # size of float object in bytes 

print(val3, " is complex?", isinstance(val3, complex)) # val3 is an instance

(25+10j)
<class 'complex'>
32
(25+10j)  is complex? True

In [22]:
str1 = "HELLO PYTHON" 

  

print(str1)

HELLO PYTHON

In [23]:
# Define string using single quotes 

mystr = 'Hello World' 
print(mystr)

Hello World

In [27]:
# String concatenation 

s1 = "Hello" 

s2 = "Asif" 

s3 = s1 + s2 

print(s3)

HelloAsif

In [29]:
# String concatenation 

s1 = "Hello" 

s2 = "Asif" 

s3 = s1 + " " + s2
print(s3)

Hello Asif

In [32]:
mystr1 = "Hello Everyone" 

# Iteration  
for i in mystr1:
    print(i)

H
e
l
l
o

E
v
e
r
y
o
n
e

In [33]:
for i in enumerate(mystr1): 

    print(i)

(0, 'H')
(1, 'e')
(2, 'l')
(3, 'l')
(4, 'o')
(5, ' ')
(6, 'E')
(7, 'v')
(8, 'e')
(9, 'r')
(10, 'y')
(11, 'o')
(12, 'n')
(13, 'e')

In [34]:
#Using double quotes in the string is not allowed. 

mystr = "My favourite TV Series is "Game of Thrones""

SyntaxError: invalid syntax (951546874.py, line 3)

In [35]:
#Using escape character to allow illegal characters 

mystr = "My favourite series is \"Game of Thrones\"" 

print(mystr)

My favourite series is "Game of Thrones"

Listas

In [37]:
list2 = [10,30,60]   
list2

[10, 30, 60]

In [38]:
list3 = [10.77,30.66,60.89] 
list3

[10.77, 30.66, 60.89]

In [40]:
list4 = ['one','two' , "three"]  
list4

['one', 'two', 'three']

Index de listas

In [41]:
list2[0]

10

In [42]:
list4[0]

'one'

In [44]:
mylist = ['one','two','three','four','five','six']

In [45]:
mylist.append('nine') 

 

mylist

['one', 'two', 'three', 'four', 'five', 'six', 'nine']

In [46]:
mylist.insert(3,'nine')  

mylist

['one', 'two', 'three', 'nine', 'four', 'five', 'six', 'nine']

In [50]:
mylist.remove('nine')

mylist

['one', 'two', 'three', 'four', 'five', 'six', 'nine']

In [51]:
mylist.pop()  

mylist

['one', 'two', 'three', 'four', 'five', 'six']

In [52]:
mylist.clear() 

mylist

[]

In [54]:
mylist = ['one','two','three','four','five','six'] 
mylist

['one', 'two', 'three', 'four', 'five', 'six']

Tupla

In [57]:
tup1 = ()      # Empty tuple 

tup2 = (10,30,60)      # tuple of integers numbers 

tup3 = (10.77,30.66,60.89)        

tup4 = ('one','two' , "three" )

tup5 = ('Asif', 25 ,(50, 100 ))

tup6 = (100, 'Asif', 17.765 )

tup7 = ('Asif', 25 ,[50, 100])

In [58]:
len(tup7) #Length of list

3

In [59]:
tup2[0] # Retreive first element of the tuple

10

In [60]:
tup4[0] # Retreive first element of the tuple

'one'

In [61]:
tup4[0][0]

'o'

In [62]:
tup4[-1]

'three'

Funciones

In [63]:
def myfunc(): 

  print("Hello Python Lovers") 

myfunc()

Hello Python Lovers

In [67]:
#function to find square of a number 

def square (n): 

    n= n*n 

    return n 

  

square (5)

25

In [68]:
# Function to print User details 

def details(name,userid,country):

    print('Name :- ', name) 

    print('User ID is :- ', userid) 

    print('Country :- ',country) 

    

details('Ulises' , 'ACFD123' , 'Mexico')

Name :-  Ulises
User ID is :-  ACFD123
Country :-  Mexico

In [69]:
#Concatenate Strings

def fullname (firstname , middlename ,lastname): 

    fullname = "{} {} {}".format(firstname,middlename,lastname) 

    print (fullname) 

  

fullname('Ulises' , 'Riv' , 'Cz')

Ulises Riv Cz